h1 {
	font-family: Impact, Charcoal, sans-serif;
    margin-bottom: 2pt;
    color: darkseagreen;
}

#message
{
	    color: darkgray;
}

label
{
	color: cadetblue;
}

body
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14pt;
}
.help
{
	font-size: 10pt;
	color: gray;
	font-style: italic;
}
.note
{
	font-size: 10pt;
	color: peru;
	
}